#poleLogowania {
    max-width: 30%;
    height: 20%;
    margin: auto;
    margin-top: 50px;
    padding:0px;
}

#lewy{
    margin-left:10px;
    float: left;
}

#prawy{
    margin-right: 10px;
    float: right;
}

#srodkowy{
    margin: auto;
}